PUBLIC_SITE_TITLE="Kelisei Ventura"
PUBLIC_AUTHOR_NAME="Francisco Percara"
PUBLIC_ROLE="Junior Software / Platform Engineer"
PUBLIC_COMPANY="MetLife"
PUBLIC_GITHUB_URL="https://github.com/Kelisei"
PUBLIC_KFTR5_URL="https://github.com/Kelisei/KFTR5"
PUBLIC_ARKANTOS_URL="#"
PUBLIC_ARKSHIP_URL="#"
PUBLIC_ORGMODE_URL="https://github.com/Kelisei/Neovim-Org-Mode-Emulation-Plugin"
PUBLIC_BLOG_PAGE_SIZE="10"
